{% extends "base.html" %}

{% load static %}

{% block 'head' %}

    <link rel="stylesheet" href="{% static 'empresa/css/nova_empresa.css' %}">

{% endblock%}

{% block 'body' %}

    <div class="wrapper">
        <div class="box">
            <div class="header">
                <h3 class="titulo">Nova empresa</h3>
            </div>

            {% if messages %}
                {% for message in messages %}
                <br>
                    <section class="alert {{message.tags}}">
                        {{message}}
                    </section>
                {% endfor %}
            {% endif %}

            <div class="body-box">
                <form action="{% url 'nova_empresa' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md">
                            <label>Nome:</label>
                            {{form.nome}}
                        </div>

                        <div class="col-md">
                            <label>E-mail:</label>
                            {{form.email}}
                        </div>

                    </div>
                    <br>
                    <div class="row">
                        <!--<div class="col-md">
                            <label>Cidade:</label>
                            {{form.cidade}}
                        </div>-->

                        <div class="col-md">
                            <label>Endereço:</label>
                            {{form.endereco}}
                        </div>

                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md">
                            <label>CNPJ:</label>
                            {{form.cnpj}}
                        </div>
                    </div>
                    <br>
                    
                    <!-- <div class="row">
                        <div class="col-md">
                            <label>Tecnologias usadas:</label>
                            {{form.tecnologias}}
                        </div>
                    </div>
                    <br> --> 
                    <div class="row">
                        <div class="col-md">
                            <label>Característica da empresa:</label>
                            {{form.caracteristica_empresa}}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md">
                            <label>Logo:</label>
                            {{form.logo}}
                        </div>
                    </div>
                    <br>
                    <input type="submit" value="Nova empresa" class="btn btn-lg">
                </form>
                
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const cnpjField = document.querySelector('input[name="cnpj"]');
            const nomeField = document.querySelector('input[name="nome"]');
            const emailField = document.querySelector('input[name="email"]');
            const enderecoField = document.querySelector('input[name="endereco"]');
            const caracteristica_empresaField = document.querySelector('textarea[name="caracteristica_empresa"]');
        
            cnpjField.addEventListener('blur', function () {
                const cnpj = cnpjField.value.trim();
        
                if (cnpj === '') {
                    alert('Por favor, preencha o campo de CNPJ.');
                    return;
                }
        
                // Faz a requisição AJAX
                fetch(`/empresas/consulta_cnpj/?cnpj=${cnpj}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Erro na requisição');
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.error) {
                            alert(data.error);
                        } else {
                            // Preenche os campos com os dados retornados
                            nomeField.value = data.nome || '';
                            emailField.value = data.email || '';
                            enderecoField.value = data.endereco || '';
                            caracteristica_empresaField.value = data.caracteristica_empresa || '';
                        }
                    })
                    .catch(error => {
                        console.error('Erro ao buscar CNPJ:', error);
                        alert('Erro ao buscar informações do CNPJ.');
                    });
            });
        });        
    </script>


{% endblock%}