{% extends "base.html" %}
{% load static %}
{% block 'title' %}Área do Candidato{% endblock 'title' %}
{% block 'head' %}

    <link rel="stylesheet" href="{% static 'usuarios/css/cadastro_candidato.css' %}">

{% endblock%}
{% block 'body' %}

<div class="wrapper">
    <div class="box">
        <div class="header">
            <h3 class="titulo">Cadastro EMPREGAPG</h3>
        </div>

        {% if messages %}
            {% for message in messages %}
            <br>
                <section class="alert {{message.tags}}">
                    {{message}}
                </section>
            {% endfor %}
        {% endif %}

        <div class="body-box">
            <form action="{% url 'registro_empregador' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md">
                        <label>Nome:</label>
                        {{form.nome}}
                    </div>

                    <div class="col-md">
                        <label>E-mail:</label>
                        {{form.email}}
                    </div>
                    
                </div>
                <br>
                <div class="row">
                    <div class="col-md">
                        <label>Telefone:</label>
                        {{form.telefone}}
                    </div>
                    
                    <div class="col-md">
                        <label>CPF:</label>
                        {{form.cpf}}
                    </div>
                    <div class="col-md">
                        <label>Senha:</label>
                        {{form.senha}}
                    </div>
                    
                </div>
                <br>
                <div class="col-md">
                    <label>Foto de Perfil:</label>
                    {{form.imagem}}
                </div>
                
                <br>
                <div class="row">
                    <div class="col-md">
                        <input type="submit" value="Cadastro Empregador" class="btn btn-lg">
                    </div>
                    <div class="col-md d-flex justify-content-end">
                        <a href="{% url 'registro_empregador' %}">
                            <input type="button" class="btn btn-lg" value="Login" />
                        </a>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</div>
{% endblock 'body' %}